@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium Italic'), local('CeraPro-MediumItalic'),
        url('../fonts/CeraPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Regular Italic'), local('CeraPro-RegularItalic'),
        url('../fonts/CeraPro-RegularItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Black Italic'), local('CeraPro-BlackItalic'),
        url('../fonts/CeraPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Bold Italic'), local('CeraPro-BoldItalic'),
        url('../fonts/CeraPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Thin Italic'), local('CeraPro-ThinItalic'),
        url('../fonts/CeraPro-ThinItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Light Italic'), local('CeraPro-LightItalic'),
        url('../fonts/CeraPro-LightItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Thin'), local('CeraPro-Thin'),
        url('../fonts/CeraPro-Thin.woff2') format('woff2'),
        url('../fonts/CeraPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1160px;
    margin: auto;
}

body {
    background-color: #F6F9FB;
}

.header {
    background-color: #1B2F78;
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.header__menu__btn {
    display: none;
}

.header__top__logo {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}

.header__search {
    height: 20px;
    background-color: #0C1E60;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    transition: outline 0.2s ease-in-out;
}

.header__search__outline {
    outline: 1px solid #FFFFFF;
}

.header__search button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 10px;
}

.header__search:hover {
    outline: 1px solid #FFFFFF;
    transition: outline 0.3s ease-in-out;
}

.header__search input::placeholder {
    font-family: 'Cera Pro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.3;
}

.header__search input {
    border: none;
    background-color: transparent;
    font-family: 'Cera Pro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.3;
    outline: none;
}

.header__search input:focus .header__search {
    outline: 1px solid #FFFFFF;
}

.header__visually {
    border: none;
    background-color: transparent;
    font-family: 'Cera Pro', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 11px 13px;
    column-gap: 10px;
    border: solid 1px #FFFFFF;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

.header__visually__mobile {
    display: none;
}

.header__visually:hover {
    background-color: #FFFFFF;
    transition: 0.3s ease-in-out;
    color: #1B2F78;
}

.header__visually svg path {
    transition: 0.2s ease-in-out;
}

.header__visually:hover svg path {
    fill: #1B2F78;
    transition: 0.3s ease-in-out;
}

.header__dropdown {
    visibility: hidden;
    position: absolute;
    background-color: #FFFFFF;
    color: #0E1B30;
    padding: 10px 17px 20px 20px;
    top: -4px;
    left: -15px;
    right: -10px;
    border-radius: 2px;
    z-index: 13;
    box-shadow: 0px 5px 20px rgba(27, 47, 120, 0.2);
    opacity: 0;
    transition: opacity 0.2s;
}

.header__dropdown__tel {
    display: flex;
    align-items: center;
    color: #0E1B30;
    column-gap: 8px;
}

.header__dropdown__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 21px;
}

.header__dropdown__content a {
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #0E1B30;
    margin-bottom: 15px;
}

.header__dropdown__content p {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #0E1B30;
    text-align: left;
}

.header__dropdown__content h3 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1B2F78;
    text-align: start;
    margin-bottom: 4px;
}

.header__dropdown__text {
    font-family: 'Cera Pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.header__dropdown__hr {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 1px;
    background: #0E1B30;
    opacity: 0.1;
    border-radius: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__dropdown__rectangle {
    background-color: transparent;
    background-image: url(../img/rectangleBlack.svg);
    display: block;
    width: 12px;
    height: 8px;
    background-size: 12px 8px;
}

.header__tel__btn {
    padding: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.header__tel__btn:hover .header__dropdown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.header__top__center {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__tel {
    font-family: 'Cera Pro', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header__tel__link {
    color: #FFFFFF;
}

.header__tel__text {
    font-family: 'Cera Pro', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.header__tel__rectangle {
    background-color: transparent;
    background-image: url(../img/rectangle.svg);
    display: block;
    width: 12px;
    height: 8px;
    background-size: 12px 8px;
}

.header__hr {
    background-color: #FFFFFF;
    opacity: 0.3;
    height: 1px;
    margin-bottom: 10px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}

.header__bottom nav ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.header__bottom li a {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.header__bottom li a:hover {
    color: #0085FF;
    transition: 0.3s ease-in-out;
}

.header__bottom__btn__container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header__help {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    padding: 9px 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.header__help:hover {
    transition: 0.3s ease-in-out;
    background-color: #FFFFFF;
    color: #1B2F78;
}

.header__help svg path {
    transition: 0.3s ease-in-out;
}

.header__help:hover svg path {
    fill: #1B2F78;
    transition: 0.3s ease-in-out;
}

.header__problem {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 10px 30px;
    background-color: rgba(0, 133, 255, 0.1);
    border: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.header__problem:hover {
    color: #1B2F78;
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);
}

.header__problem svg path {
    transition: 0.3s ease-in-out;
}

.header__problem:hover svg path {
    fill: #1B2F78;
    transition: 0.3s ease-in-out;
}

.breadcrumbs__list {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.breadcrumbs__list a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #0E1B30;
}

.breadcrumbs__item:not(:last-child)::after {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #0E1B30;
    content: '>';
    margin: 0 10px;
}

.breadcrumbs__item {
    white-space: nowrap;
}

.breadcrumbs__item-active {
    color: rgba(27, 47, 120, 1) !important;
}

.slide-effect:after {
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(96.78deg, rgba(27, 47, 120, 0.8) 34.98%, rgba(27, 47, 120, 0.24) 100%);
}

.slide-effect img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.container-slider {
    max-width: 1182px;
    margin: auto;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main__slider {
    overflow-x: hidden;
    position: relative;
    height: 400px;
    overflow-y: hidden;
    border-radius: 2px;
    margin-bottom: 20px;
    max-width: 1160px;
    margin: auto;
}

.main__slider__mobile-size {
    display: none;
}

.services__info {
    overflow-x: hidden;
}

.services__add {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
    margin-bottom: 20px;
}

.pagination-main {
    bottom: 31px !important;
}

.pagination-main .swiper-pagination-bullet {
    background-color: #FFFFFF;
    opacity: 1;
    vertical-align: middle;
    width: 6px;
    height: 6px;
}

.pagination-main .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.main__slider__content {
    position: absolute;
    top: 120px;
    left: 60px;
    z-index: 1;
}

.main__slider__content h2 {
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    max-width: 540px;
    margin-bottom: 44px;
    padding-right: 80px;
}

.main__slider__content a {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    padding: 12px 30px;
    background-color: #0085FF;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

.main__slider__content a:hover {
    background-color: #FFFFFF;
    transition: 0.3s ease-in-out;
    color: #1B2F78;
}

.button-prev-main::after {
    content: '';
    background-image: url(../img/sliderBtn.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 10px;
    height: 14px;
}

.button-prev-main {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0C1E60;
    border: 2px #FFFFFF solid;
    transition: 0.1s ease-in-out;
}

.button-prev-main:hover {
    background-color: #0085FF;
    transition: 0.2s ease-in-out;
}

.button-next-main::after {
    content: '';
    background-image: url(../img/sliderBtn.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 10px;
    height: 14px;
    transform: rotate(180deg);
}

.button-next-main {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0C1E60;
    border: 2px #FFFFFF solid;
    transition: 0.1s ease-in-out;
}

.button-next-main:hover {
    background-color: #0085FF;
    transition: 0.2s ease-in-out;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-bottom: 5px;
}

.services__card {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.1);
    border-radius: 2px;
    padding: 26px 16px 30px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.services__card:hover {
    background-color: #1B2F78;
    transition: 0.3s ease-in-out;
}

.services__card svg path {
    transition: 0.2s ease-in-out;
}

.services__card:hover svg path {
    fill: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.services__card:hover h2 {
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.services__card:hover p {
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.services__card:hover div a {
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    border: 1px solid #FFFFFF;
}

.services__card h2 {
    transition: 0.2s ease-in-out;
}

.services__card p {
    transition: 0.2s ease-in-out;
}

.services__card div a {
    transition: 0.2s ease-in-out;
}

.services__card div a {
    transition: 0.2s ease-in-out;
}

.services__card div a:hover {
    background-color: #FFFFFF;
    color: #1B2F78;
    transition: 0.3s ease-in-out;
}

.services__card svg {
    margin-bottom: 13px;
}

.services__card h2 {
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 16px;
    color: #1B2F78;
    margin-bottom: 15px;
    min-height: 38px;
}

.services__card p {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    color: #0E1B30;
    margin-bottom: 15px;
}

.services__card a {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 12px;
    color: #0E1B30;
    padding: 7px 10px;
    border: 1px solid #0E1B30;
    filter: drop-shadow(0px 2px 4px rgba(44, 39, 56, 0.08)) drop-shadow(0px 4px 8px rgba(44, 39, 56, 0.08));
    border-radius: 2px;
    width: fit-content;
}

.services__card div div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.services__card__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.services__info__left {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
}

.swiper__second {
    grid-column-start: 1;
    grid-column-end: 5;
    overflow-x: hidden;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.05);
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.services__info__right {
    grid-column-start: 5;
    grid-column-end: 7;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.05);
    border-radius: 2px;
    padding: 52px 47px 47px 47px;
    z-index: 1;
}

.swiper__second__card__content {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 33px;
    padding-bottom: 33px;
}

.swiper__second__card__content img {
    max-width: 225px;
    height: 284px;
}

.swiper__second__card__content__text {
    max-width: 330px;
    padding-right: 20px;
    padding-left: 20px;
}

.swiper__second__card__content__text span {
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 15px;
    color: #0E1B30;
    margin-bottom: 20px;
}

.swiper__second__card__content__text h2 {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 30px;
    color: #1B2F78;
    line-height: 38px;
    margin-bottom: 10px;
}

.swiper__second__card__content__text p {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #0E1B30;
    margin-bottom: 30px;
}

.button__more {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 12px;
    color: #0E1B30;
    padding: 7px 10px;
    border: 1px solid #0E1B30;
    filter: drop-shadow(0px 2px 4px rgba(44, 39, 56, 0.08)) drop-shadow(0px 4px 8px rgba(44, 39, 56, 0.08));
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

.button__more:hover {
    transition: 0.3s ease-in-out;
    background-color: #0085FF;
    color: #FFFFFF;
    border: 1px solid #0085FF;
}

.second__swiper__pagination {
    bottom: 46px !important;
}

.second__swiper__pagination .swiper-pagination-bullet {
    background-color: #0E1B30;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    opacity: 1;
}

.second__swiper__pagination .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 2px solid #0E1B30;
    vertical-align: middle;
}

.services__info__right h3 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #0E1B30;
    margin-bottom: 8px;
}

.services__info__right div a:not(:last-child) {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #1B2F78;
    margin-bottom: 6px;
}

.services__info__right div a:last-child {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #1B2F78;
}

.services__info__right div {
    margin-bottom: 27px;
}

.services__info__right p {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #0E1B30;
    margin-bottom: 24px;
}

.news h2 {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    display: flex;
    color: #0E1B30;
    margin-bottom: 20px;
}

.news {
    margin-bottom: 60px;
}

.news-company {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 24px;
    gap: 40px;
}

.news-company__card img {
    width: 100%;
    max-height: 250px;
    margin-bottom: 13px;
    border-radius: 5px;
}

.news-company__card div {
    transition: 0.2s ease-in-out;
}

.news-company__card:hover div {
    column-gap: 12px;
    transition: 0.3s ease-in-out;
}

.news-company__card div {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #1B2F78;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.news-company__arrow {
    background-color: transparent;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 8px;
}

.news-company__card p {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #0E1B30;
}

.news-company__button {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #0E1B30;
    border: 1px solid #0E1B30;
    border-radius: 2px;
    padding: 10px 30px;
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.news-company__button:hover {
    background-color: #0085FF;
    transition: 0.3s ease-in-out;
    border: #0085FF 1px solid;
    color: #FFFFFF;
}

.news-company__button svg path {
    transition: 0.2s ease-in-out;
}

.news-company__button:hover svg path {
    fill: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.footer {
    background-color: #1B2F78;
}

.footer__top {
    padding: 55px 0px;
}

.footer__top nav h3 {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.footer__contacts {
    max-width: 180px;
    color: #FFFFFF;
}

.footer__contacts address {
    font-style: normal;
    margin-bottom: 11px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__contacts a {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    display: block;
}

.footer__contacts a:not(:last-child) {
    margin-bottom: 11px;
}

.footer__contacts h3 {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.footer__partners ul {
    display: flex;
    gap: 31px;
}

.footer__partners ul li {
    max-width: 106px;
}

.footer__partners ul li a {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__partners h3 {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 28px;
    display: block;
}

.footer__top nav ul li a {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__top nav ul li:not(:last-child) {
    margin-bottom: 11px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__bottom {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer__bottom div a {
    font-weight: 600;
}

.footer__bottom a {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__hr {
    background-color: #FFFFFF;
    opacity: 0.3;
    height: 1px;
    margin-bottom: 10px;
}

.footre__partners__administration__surgut {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/administration_surgut.png);
    width: 30px;
    height: 36px;
    display: block;
    margin-bottom: 8px;
}

.footre__partners__sgmup {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/gts.png);
    width: 62px;
    height: 36px;
    display: block;
    margin-bottom: 8px;
}

.footre__partners__gis__jkh {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/gis_jkh.svg);
    width: 38px;
    height: 36px;
    display: block;
    margin-bottom: 8px;
}

.fixed-links__problem {
    background-color: #0085FF;
    border-radius: 2px 0px 0px 2px;
    display: flex;
    column-gap: 10px;
    padding: 0px 15px;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #FFFFFF;
    height: 43px;
    align-items: center;
    cursor: pointer;
    width: 110px;
    transition: 0.1s ease-in-out;
}

.fixed-links {
    width: 160px;
    position: fixed;
    right: 0;
    display: flex;
    top: 161px;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1px;
    z-index: 11;
}

.fixed-links__help {
    background-color: #0085FF;
    border-radius: 2px 0px 0px 2px;
    display: flex;
    column-gap: 10px;
    padding: 0px 15px;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #FFFFFF;
    height: 43px;
    align-items: center;
    cursor: pointer;
    width: 110px;
    transition: 0.1s ease-in-out;
}

.fixed-links__problem:hover {
    padding-right: 30px;
    transition: 0.2s ease-in-out;
}

.fixed-links__help:hover {
    padding-right: 30px;
    transition: 0.2s ease-in-out;
}

.fixed-links__problem-img {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/problem.svg);
    width: 14px;
    height: 14px;
    display: block;
}

.fixed-links__help-img {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/help.svg);
    width: 14px;
    height: 14px;
    display: block;
}

.menu__help__container {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(12, 29, 46, 0.7);
    transition: all 0.2s;
}

.menu__help__container-open {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}

.menu__help {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    width: 625px;
    height: 100%;
    transform: translate(101%);
    transition: transform 0.2s;
}

.menu__help-open {
    transform: translate(0%);
    transition: transform 0.3s;
}

.menu__help__head {
    padding: 20px 28px 23px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__close__icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/close.svg);
    width: 12px;
    height: 12px;
    border: none;
    background-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.menu__close__icon:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.menu__help__head h2 {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0E1B30;
}

.menu__help__content {
    padding-right: 40px;
    padding-left: 40px;
}

.menu__aside__enter__container {
    padding-left: 40px;
    padding-right: 40px;
}

.menu__help__content a {
    padding-top: 10px;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0E1B30;
    display: block;
    padding-bottom: 6px;
    transition: opacity 0.2s;
}

.menu__aside__head__link {
    padding-top: 10px;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0E1B30;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: rgba(14, 27, 48, 0.5) solid 1px;
}

.menu__help__content a:hover {
    opacity: 0.6;
    transition: opacity 0.3s;
}

.menu__help__content a:not(:last-child) {
    border-bottom: rgba(14, 27, 48, 0.5) solid 1px;
}

.menu-aside__back-btn {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1B2F78;
    cursor: pointer;
}

.menu__aside__enter__text {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #0E1B30;
    padding-top: 10px;
}

.menu__aside__enter__text a {
    color: #1B2F78;
}


/* Кнопка бургера */

.nav-toggle {
    position: relative;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
    top: 19px;
    right: -18px;
    -webkit-transform: (-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: #FFFFFF;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    height: 3px;
    width: 36px;
    margin-bottom: 6.2px;
    -webkit-transform-origin: 10% 42%;
    transform-origin: 14% 42%;
}

.benefits__img {
    margin-bottom: 60px;
    width: 100%;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Меню бургер */

.menu__container {
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    background-color: #1B2F78;
    position: absolute;
    top: 163px;
    left: 0;
    z-index: 11;
    padding: 40px;
    padding-top: 20px;
}

.menu__container li {
    margin-bottom: 20px;
}

.menu__container a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu-show {
    visibility: visible;
}

/* about page start*/

.about__container-flex {
    display: grid;
    grid-template-columns: 0.5fr 1.4fr;
    gap: 20px;
}

.info__top {
    height: 300px;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.1);
    border-radius: 2px;
    position: relative;
    margin-bottom: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.info__top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(27, 47, 120, 0.8), rgba(27, 47, 120, 0.8));
    border-radius: 2px;
}

.info__main__text {
    position: absolute;
    bottom: 24px;
    left: 30px;
    font-family: 'Cera Pro';
    font-style: normal;
    color: #FFFFFF;
    z-index: 1;
    padding-right: 30px;
}

.info__main__text h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.info__main__text h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.info__bottom {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.1);
    border-radius: 2px;
    margin-bottom: 40px;
    height: fit-content;
}

.info__bottom h1 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(14, 27, 48, 1);
    margin-bottom: 30px;
}

.info__bottom p {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(14, 27, 48, 1);
    margin-bottom: 30px;
}

.info__bottom h3 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(14, 27, 48, 1);
    text-align: start;
    padding: 9px 10px;
}

.info__bottom__container h2 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: rgba(14, 27, 48, 1);
    margin-bottom: 22px;
}

.info__bottom__container div:nth-child(2n) {
    background-color: #F6F9FB;
}

.info__bottom__container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(14, 27, 48, 0.1);
    gap: 60px;
}

.info__bottom__container div p {
    max-width: 425px;
    text-align: end;
    margin-bottom: 0;
    padding: 9px 10px;
}

.aside__menu {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.1);
    border-radius: 2px;
    height: fit-content;
    margin-bottom: 60px;
}

/* Accordeon left start */
.asside__menu__head:not(.active) .asside__menu__content {
    max-height: 0px;
    visibility: hidden;
    transition: 0.3s;
}

.asside__menu__content {
    overflow-y: hidden;
    max-height: 5000px;
    visibility: visible;
    box-sizing: border-box;
    transition: 1.3s;
}

.asside__menu__content a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #0E1B30;
    display: block;
    padding: 10px 37px 10px 25px;
    transition: 0.3s ease-in-out;
    position: relative;
    min-height: 25px;
    align-items: center
}

.asside__menu__content li:hover {
    background-color: rgba(14, 27, 48, 0.1);
    transition: 0.3s ease-in-out;
}

.asside__menu__head__button {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #0E1B30;
    padding: 10px 20px 10px 0px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(14, 27, 48, 0.1);
    min-height: 25px;
}

.asside__menu__head__button a {
    width: 100%;
}

.asside__first-level {
    padding-left: 25px;
}

.asside__menu__head__button:hover {
    background-color: rgba(14, 27, 48, 0.1);
    transition: 0.3s ease-in-out;
}

.asside__menu__content li {
    border-bottom: 1px solid rgba(14, 27, 48, 0.1);
    position: relative;
}

.asside__menu__content__second-level a {
    padding-left: 40px;
    display: flex;
}

.aside__menu__rectangle {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/rectangle_menu.svg);
    width: 25px;
    height: 25px;
    background-size: 25px;
    transition: 0.3s;
    flex-shrink: 0;
    display: block;
}

.asside__menu__head__button__second-level {
    padding-top: 0;
    padding-bottom: 0;
}

.asside__menu__head__button__second-level a {
    padding-right: 20px;
}

.asside__menu__content__third-level a {
    padding-left: 55px;
    align-items: flex-start;
}

.aside__menu__rectangle-active {
    transform: rotate(180deg);
    transition: 0.3s;
}

.asside__menu__head__button-active {
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
    background-color: #0085FF;
}

.asside__menu__head__button-active+a {
    font-weight: 500;
}

/* Accordeon left end */

/* about page end*/


/* service page start */

.services-page__container {
    display: flex;
    gap: 20px;
}

.services h1 {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D0D5DD;
    margin-bottom: 20px;
}

.services__item__card {
    position: absolute;
    z-index: 1;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-right: 47px;
    left: 10%;
}

.services__item__card svg {
    margin-bottom: 25px;
}

.services__item__card h2 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
    max-width: 173px;
}

.services__item__card p {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 264px;
    margin-bottom: 67px;
}

.services__item {
    background-color: transparent;
    background-repeat: no-repeat;
    height: 430px;
    position: relative;
    border-radius: 5px;
    width: 100%;
    display: block;
    background-position: center;
    background-size: cover;
}

.services__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(27, 47, 120, 0.8), rgba(27, 47, 120, 0.8));
    border-radius: 5px;
}

.services__item__card a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 7px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
}

.services__item__card a:hover {
    background-color: #0085FF;
    transition: 0.3s ease-in-out;
    border: 1px solid #0085FF;
    color: #FFFFFF;
}

.services__entity__item {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    min-height: 295px;
    background-size: cover;
}

.services__entity__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.services__entity__card {
    position: relative;
    padding: 34px;
    box-sizing: border-box;
    height: 100%;
}

.services__entity__card svg {
    margin-bottom: 20px;
}

.services__entity__card h2 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 183px;
}

.services__entity__card a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 7px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    position: absolute;
    bottom: 34px;
}

.services__entity__card a:hover {
    transition: 0.3s ease-in-out;
    background-color: #0085FF;
    color: #FFFFFF;
    border: 1px solid #0085FF;
}

/* service page end */

/* problem page start */

.select {
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #D0D5DD;
    margin-bottom: 10px;
    padding: 14px;
    position: relative;
    user-select: none;
    transition: 0.2s;
}

.select.border {
    border: 1px solid #1B2F78;
    transition: 0.3s;
}

.select a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
}

.select__btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select__expand-layout {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgb(27 47 120 / 10%);
    z-index: 2;
}

.select__option {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
    cursor: pointer;
    padding: 14px;
    transition: 0.2s ease-in-out;
}

.select__option:hover {
    background-color: #D0D5DD;
    transition: 0.2s ease-in-out;
}

.select.open .select__expand-layout {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.select__btn__rectangle {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/rectangle_select.svg);
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: block;
    transition: 0.3s;
}

.select__btn__rectangle.open {
    transform: rotate(180deg);
    transition: 0.3s;
}

.problem {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.1);
    border-radius: 2px;
    padding: 20px 40px 40px 40px;
    margin-bottom: 60px;
}

.problem h1 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0E1B30;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D0D5DD;
}

.problem p {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #0E1B30;
    margin-bottom: 15px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.form__input__checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.form__input__checkbox input {
    display: none;
}

.form__input__checkbox input+.form__input__checkbox__span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    border: 1px solid #1B2F78;
    border-radius: 2px;
    text-align: center;
}

.form__input__checkbox input+.form__input__checkbox__span:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-image: url(../img/check.svg);
    height: 14px;
    width: 14px;
}

.form__input__checkbox input:checked+.form__input__checkbox__span:before {
    opacity: 1;
}

.problem__container {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 25px;
}

.form__input input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    position: relative;
    border: 1px solid #D0D5DD;
    border-radius: 2px;
    background: #FFFFFF;
    padding: 14px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
    transition: 0.2s;
    cursor: pointer;
}

.form__input input:focus {
    border: 1px solid #1B2F78;
    transition: 0.3s;
}

.form__input {
    position: relative;
    margin-bottom: 10px;
}

.form__input textarea {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #D0D5DD;
    border-radius: 2px;
    background: #FFFFFF;
    padding: 14px;
    margin-bottom: 10px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
    transition: 0.2s;
    cursor: pointer;
    height: 100px;
    resize: none;
}

.form__input textarea:focus {
    border: 1px solid #1B2F78;
    transition: 0.3s;
}

.form__input__placeholder {
    user-select: none;
    position: absolute;
    top: 16px;
    left: 14px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.form__input__placeholder span {
    color: #FF4433;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
}

.placeholder__top {
    top: -8px;
    font-size: 13px;
    transition: 0.3s;
}

.form__input__file {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.form__input__file input {
    display: none;
}

.form__input__file label {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #667085;
    padding: 14px 24px;
    border: 1px solid #D0D5DD;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
}

.form__input__file label:hover {
    background: #0085FF;
    transition: 0.3s ease-in-out;
    color: #FFFFFF;
    border: 1px solid #0085FF;
}

.form__input__file span {
    font-family: 'Cera Pro';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #667085;
}

.problem__form button {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #1B2F78;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.problem__form button:hover {
    background-color: #0085FF;
    transition: 0.3s ease-in-out;
}

.form__input__checkbox {
    margin-bottom: 14px;
}

.form__input__checkbox label {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0E1B30;
    padding-left: 35px;
    cursor: pointer;
}

.form__input__checkbox label a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1B2F78;
    border-bottom: 1px solid #1B2F78;
}

.form__input__file__list {
    margin-bottom: 10px;
}

.form__input__file__list li {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #667085;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 3px;
}

.file__delete__icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/delete_file.svg);
    width: 18px;
    height: 16px;
    display: block;
    cursor: pointer;
}

/* problem page end */


/* page search start */

.page__search {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(27, 47, 120, 0.1);
    border-radius: 2px;
    padding: 20px 40px 40px 40px;
    margin-bottom: 60px;
}

.search__form {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 2px;
    position: relative;
    display: flex;
    padding-right: 14px;
    align-items: center;
    margin-bottom: 20px;
}

.search__form input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;
    outline: none;
    padding: 14px;
}

.search__form button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.search__form button:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.page__search h1 {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0E1B30;
    padding-bottom: 10px;
    border-bottom: 1px solid #D0D5DD;
    margin-bottom: 20px;
}

.result__search__container ul li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #D0D5DD;
    margin-bottom: 20px;
}

.result__search__container ul li a {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #0E1B30;
    transition: 0.2s;
    display: block;
}

.result__search__container ul li a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.result__search__container ul li p {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #0E1B30;
}

.result__search__container ul li span {
    color: #0085FF;
}

/* page search end */

@media(max-width: 1200px) {
    .services__entity__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1180px) {
    .services__container {
        grid-template-columns: repeat(5, 1fr);
    }

    .services__add {
        grid-template-columns: repeat(5, 1fr);
    }

    .swiper__second {
        grid-column-end: 4;
    }

    .services__info__right {
        grid-column-start: 4;
    }

    .footer__bottom div {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .footer__bottom {
        grid-template-columns: 1fr 0.5fr;
        display: grid;
        row-gap: 10px;
    }
}

@media(max-width: 1100px) {

    .fixed-links {
        top: 183px;
    }

    .header__visually {
        display: none;
    }

    .header__bottom__btn__container {
        display: none;
    }

    .header__bottom nav {
        display: none;
    }

    .header__menu__btn {
        display: block;
    }

    .header__visually__mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-family: 'Cera Pro', sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 11px 13px;
        column-gap: 10px;
        border: solid 1px #FFFFFF;
        border-radius: 2px;
        transition: 0.2s ease-in-out;
    }

    .header__tel__rectangle {
        display: none;
    }

    .header__dropdown__rectangle {
        display: none;
    }

    .header__dropdown__text {
        font-family: 'Cera Pro', sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .header__dropdown__hr {
        background-color: #FFFFFF;
    }

    .header__dropdown__content {
        padding-left: 0;
    }

    .header__dropdown__content h3 {
        color: #FFFFFF;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .header__dropdown__content p {
        color: #FFFFFF;
    }

    .menu__container ul {
        margin-bottom: 50px;
    }

    .header__dropdown {
        display: none;
    }
}

@media(max-width: 1035px) {
    .footer__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }

    .footer__bottom div {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .footer__bottom {
        grid-template-columns: 1fr;
        display: grid;
        justify-items: center;
        row-gap: 10px;
        padding-bottom: 20px;
    }

    .footer__partners ul {
        flex-wrap: wrap;
    }
}

@media(max-width: 990px) {
    .services__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 890px) {

    .news-company {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .services__add {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .swiper__second {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .services__info__right {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .fixed-links {
        top: 386px;
    }

    .header__tel__btn {
        display: none;
    }

    .header__top__logo {
        font-size: 20px;
    }

    .header__top__logo img {
        width: 40px;
    }

    .header__hr {
        margin-bottom: 0px;
    }

    .header__bottom {
        padding-bottom: 0px;
    }

    .menu__container {
        top: 128px;
    }
}

@media(max-width: 850px) {

    .info__main__text {
        left: 15px;
    }

    .footer__top nav h3 {
        margin-bottom: 15px;
    }

    .footer__contacts h3 {
        margin-bottom: 15px;
    }

    .footer__partners h3 {
        margin-bottom: 15px;
    }

    .footer__bottom p {
        text-align: center;
    }

    .info__bottom {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about__container-flex {
        display: block;
    }

    .problem__container {
        display: flex;
        flex-direction: column-reverse;
    }

    #map {
        height: 400px;
    }
}

@media(max-width: 768px) {

    .page__search h1 {
        font-size: 20px;
    }

    .page__search {
        padding-left: 20px;
        padding-right: 20px;
    }

    .problem {
        padding-left: 20px;
        padding-right: 20px;
    }

    .info__bottom__container div p {
        white-space: wrap;
    }

    .main__slider__desktop-size {
        display: none;
    }

    .main__slider__mobile-size {
        display: block;
    }

    .second__swiper__pagination {
        bottom: 20px !important;
    }

    .services__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-slider {
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }

    .button-prev-main {
        display: none;
    }

    .button-next-main {
        display: none;
    }

    .main__slider__content {
        top: 80px;
    }

    .main__slider__content h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .menu__help__container-open {
        overflow-y: auto;
    }

    .menu__help {
        width: 100%;
    }

    .fixed-links__problem {
        padding: 0px 3px;
        padding-left: 10px;
        height: 30px;
    }

    .fixed-links__help {
        padding: 0px 3px;
        padding-left: 10px;
        height: 30px;
    }
}

@media(max-width: 600px) {
    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-page__container {
        flex-wrap: wrap;
    }
}

@media(max-width: 550px) {

    .info__bottom__container div p {
        max-width: 100%;
    }

    .news-company {
        grid-template-columns: 1fr;
    }

    .services__info__right {
        padding: 33px 20px;
    }

    .swiper__second__card__content img {
        display: none;
    }

    .swiper__second__card__content__text {
        max-width: 450px;
    }

    .fixed-links {
        top: 20vh;
    }

    .footer__top {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .header__top__center {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .header__search {
        width: 100%;
    }

    .header__top {
        display: grid;
        row-gap: 20px;
        align-items: center;
    }

    .menu__container {
        top: 188px;
    }

    .info__bottom__container div {
        display: block;
    }

    .info__bottom h3 {
        text-align: end;
        font-weight: 500;
    }

    .services__entity__container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media(max-width: 470px) {

    .form__input__placeholder {
        font-size: 11px;
        left: 5px;
        padding-top: 4px;
    }

    .form__input input::placeholder {
        font-size: 11px;
    }

    .select a {
        font-size: 11px;
    }

    .select__option {
        font-size: 11px;
    }

    .main__slider__content {
        top: 70px;
        left: 40px;
    }

    .main__slider__content h2 {
        padding-right: 40px;
        font-size: 20px;
        line-height: 20px;
    }
}

@media(max-width: 425px) {

    .page__search h1 {
        font-size: 18px;
    }

    .result__search__container ul li a {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        display: block;
    }

    .result__search__container ul li p {
        font-size: 16px;
        line-height: 20px;
    }

    .page__search {
        padding-left: 15px;
        padding-right: 15px;
    }

    .problem {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__container {
        grid-template-columns: 1fr;
    }

    .services__card p {
        max-width: 200px;
    }

    .form__input__file {
        flex-direction: column-reverse;
    }

    .form__input__file label {
        width: 100%;
        box-sizing: border-box;
    }
}